<div class="table-container">
   <table class="cateTable">
     <thead>
       <tr class="table-header">
         <th>Category</th>
         <th>Owner</th>
         <th>Visit</th>
         <th>Total Visit</th>
         <th>Delete</th>
       </tr>
     </thead>
     <tbody>




      <% for(let i=0; i<list.length; i++){ %>
        <tr class="tableRow">
          <td> <%= list[i].name %> </td>
          <td> <%= list[i].Admin %> </td>
          <td> <%= list[i].Visit %> </td>
          <td> <%= list[i].totalVisit %> </td>
          <td> <img class="iconTable" src="/resources/delete.png" > </td>
        </tr class="tableRow">
      <% } %>







     </tbody>
   </table>
   
   <p>No Catagory found!</p>
   <style>
      .table-container p{
         display: <%= noneNote %>;
      }
   </style>

 </div>

  <button class="addNewBtn" onclick="
    document.querySelector('.addNewBtn').style.display = 'none';
    document.querySelector('.addNewCategory').style.display = 'flex';
  ">Add new Category</button>

    <div class="addNewCategory">
      <form>
         <label for="Name">Category Name: </label>
        <input type="text" id="Name" name="categoryName" placeholder="Enter Name" class="inputName">
        <p class="errorNote">Try different name!</p>
        <button type="submit" >Add</button>
      </form>         
   </div>

<!-- the editing option starts here -->

<div class="categoryDelete">
  <div class="catePopUp">
    <p>All the PRODUCTS under this category will be DELETED!</p>
    <div class="buttons">
      <button class="yesDelete optionBtn">Delete</button>
      <button class="noDelete optionBtn" onclick="
      document.querySelector('.categoryDelete').style.display = 'none';
      ">Cancel</button>
    </div>
  </div>
</div>