<div class="table-container">
  <table>
    <thead>
      <tr class="table-header">
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Redirect</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>




     <% for(let i=0; i<list.length; i++){ %>
       <tr class="tableRow">
         <td> <%= list[i].name %> </td>
         <td> <%= list[i].Price %> </td>
         <td> <%= list[i].Qunitity %> </td>
         <td> <%= list[i].visit %> </td>
         <td> <%= list[i].Category %> </td>
       </tr class="tableRow">
     <% } %>






      <!-- <tr class="tableRow">
        <td>Row 1, Cell 1</td>
        <td>Row 1, Cell 2</td>
        <td>Row 1, Cell 3</td>
        <td>Row 1, Cell 4</td>
      </tr class="tableRow"> -->
      
      <!-- Add more rows as needed -->
    </tbody>
  </table>
  
  <p>No Product found!</p>
  <style>
     .table-container p{
        display: <%= noneNote %>;
     }
  </style>
</div>

   <button class="addNewBtn">Add new Product</button>
