<div class="HolderForTheShow">
  <div class="table-container">
    <table>
      <thead>
        <tr class="table-header">
          <th>Product</th>
          <th>Price</th>
          <th>Measure</th>
          <th>Quantity</th>
          <th>Visit</th>
          <th>Redirect</th>
          <th>Category</th>
          <th>Phone Number</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
  
  
  
  
       <% for(let i=0; i<list.length; i++){ %>
         <tr class="tableRow">
           <td> <%= list[i].name %> </td>
           <td> <%= list[i].Price %> </td>
           <td> <%= list[i].Measure %> </td>
           <td> <%= list[i].Qunitity %> </td>
           <td> <%= list[i].visit %> </td>
           <td> <%= list[i].Redirect %> </td>
           <td> <%= list[i].Category %> </td>
           <td> <%= list[i].PhoneNumber %> </td>
           <td> <%= list[i].Link %> </td>

         </tr class="tableRow">
       <% } %>
  
  
  
      </tbody>
    </table>
    
    <p>No Product found!</p>
    <style>
       .table-container p{
          display: <%= noneNote %>;
       }
    </style>
  </div>
  
     <button class="addNewBtn" id="addNewProductBtn" >Add new Product</button>     
  
</div>


<div class="productFormHolder">
  <form class="productForm">
    <label for="PName">Name: </label>
    <input type="text" name="PName" id="PName" placeholder="Name" class="productTextInput">

    <label for="PPrice">Price: </label>
    <input type="text" name="PPrice" id="PPrice" placeholder="Price" class="productTextInput">

    <label for="PMeasure">Measure: </label>
    <select name="PMeasure" id="PMeasure" class="productSelectionInput">
      <option value="Pack">Pack</option>
      <option value="Kilo Gram">Kilo Gram</option>
      <option value="Litre">Litre</option>
    </select>

    <label for="PQuantity">Quantity: </label>
    <input type="text" name="PQuantity" id="PQuantity" placeholder="Quantity" class="productTextInput">

    <label for="PCategory">Category: </label>
    <select name="PCategory" id="PCategory" class="productSelectionInput">
      <option value="" disabled selected style="display: none;">Select Category</option>
    </select>

    <label for="PPhone">Phone Number: </label>
    <input type="text" name="PPhone" id="PPhone" placeholder="Example 0996855244" class="productTextInput">

    <label for="PLink">Link: </label>
    <input type="text" name="PLink" id="PLink" placeholder="Example @est1967" class="productTextInput">

    <label for="PImage">Image: </label>
    <input type="file" name="PImage" id="PImage" class="productFileInput">

    <p class="errorProduct">Fill all the Information!</p>

    <button type="submit" class="productSubmitBtn" id="addProduct"
    onclick="
      const addNewProduct = document.querySelector('.addProduct');
      const Pname = document.querySelector('#PName');
      const Pprice = document.querySelector('#PPrice');
      const Pmeasure = document.querySelector('#PMeasure');
      const Pquantity = document.querySelector('#PQuantity');
      const Pcategory = document.querySelector('#PCategory');
      const Pphone = document.querySelector('#PPhone');
      const Plink = document.querySelector('#PLink');
      const Pimage = document.querySelector('#PImage');
      event.preventDefault();

      if(Pname.value===''||Pprice.value===''||Pquantity.value===''||Pmeasure.value===''||Pimage.files.length===0||Plink.value===''||Pcategory.value===''||Pphone.value===''){
         document.querySelector('.errorProduct').style.opacity = 1;

         Pname.classList.toggle('redbackground');
         Pprice.classList.toggle('redbackground');
         Pmeasure.classList.toggle('redbackground');
         Pquantity.classList.toggle('redbackground');
         Pphone.classList.toggle('redbackground');
         Plink.classList.toggle('redbackground');

         setTimeout(()=>{
          document.querySelector('.errorProduct').style.opacity = 0;
          Pname.classList.toggle('redbackground');
          Pprice.classList.toggle('redbackground');
          Pmeasure.classList.toggle('redbackground');
          Pquantity.classList.toggle('redbackground');
          Pphone.classList.toggle('redbackground');
          Plink.classList.toggle('redbackground');
         }, 2000);

      } else{
        const extension = Pimage.files[0].name.split('.').pop().toLowerCase();
          if(extension!=='png' && extension!=='jpg' && extension!=='jpeg'){
            
            document.querySelector('.errorProduct').style.opacity = 1;

            Pname.classList.toggle('redbackground');
            Pprice.classList.toggle('redbackground');
            Pmeasure.classList.toggle('redbackground');
            Pquantity.classList.toggle('redbackground');
            Pphone.classList.toggle('redbackground');
            Plink.classList.toggle('redbackground');

            setTimeout(()=>{
              document.querySelector('.errorProduct').style.opacity = 0;
              Pname.classList.toggle('redbackground');
              Pprice.classList.toggle('redbackground');
              Pmeasure.classList.toggle('redbackground');
              Pquantity.classList.toggle('redbackground');
              Pphone.classList.toggle('redbackground');
              Plink.classList.toggle('redbackground');
            }, 2000);

          } else{
            const formData = new FormData();
            console.log(formData);
            formData.append('file', Pimage.files[0]);
            console.log(formData);
            // formData.append('Info', 
            // JSON.stringify({
            //     name: Pname.value,
            //     price: Pprice.value,
            //     measure: Pmeasure.value,
            //     quantity: Pquantity.value,
            //     category: Pcategory.value,
            //     phoneNumber: Pphone.value,
            //     link: Plink.value
            //   }))

              // console.log(Pimage.files[0]);

              // fetch('/dashboard/products', {
              //   method: 'POST',
              //   headers: {
              //     'Content-Type': 'multipart/form-data'
              //   },
              //   body: formData
              // })
              // .catch(console.error);
            }

            // console.log(
            //     Pname.value,
            //     Pprice.value,
            //     Pmeasure.value,
            //     Pquantity.value,
            //     Pcategory.value,
            //     Pphone.value,
            //     Plink.value,
            //     Pimage.files[0]
            //     )


          }
    "
    >Add</button>
  </form>

</div>